.Content {
    background: url('https://www.icmarkets.com/home/img/icmHeaderBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    color: #fff;
}

.Content {
    height: 1000px;
    text-align: center;
}

.Content h1 {
    margin: 300px;
    display: table-cell;
    width: 35%;
    color: rgb(221, 221, 225, 0.8);
    font-size: 56px;
    font-weight: 900;
}

.Content p {
    margin: 300px;
    display: table-cell;
    color: rgb(221, 221, 225, 0.8);
    font-size: 18px;
    font-weight: 300;
    padding-left: 16px;
}