#control-hooks {
  display: flex;
}

.ant-form-item-control-input {
  width: 200px;
}

.stockBox {
  position: relative;
}

.stockBox .stockIndustry {

  position: absolute;
  right: 0px;
  top: 0px
}